S3method(mapVectorToControl,character)
S3method(mapVectorToControl,default)
S3method(mapVectorToControl,logical)
S3method(mapVectorToControl,numeric)
export(button)
export(checkbox)
export(manipulate)
export(picker)
export(resolveVariableArguments)
export(slider)
